doctype html
html
  head
    title= HOME
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1= message
    p BIENVENIDO A MI WEB ECHA CON EXPRESS Y PUG
    img(src="/assets/pug.png", alt="Logo de Pug")
